@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


* {
  font-family: 'Poppins', sans-serif;
}

@keyframes swipeRight {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(500px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-500px) rotate(-20deg);
    opacity: 0;
  }
}

.animate-like {
  animation: swipeRight 0.35s forwards;
}

.animate-dislike {
  animation: swipeLeft 0.35s forwards;
}